:root.theme-dark {
  --bg-color: #000028;
  --text-title-card: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --bg-image: url('../images/cover-image-dark.png');
  --button-color: #ff0070;
  --button-hover-border: rgba(255, 0, 112, 0.4);
  --decorated-zone-color: #ff0070;
}

/* Скрываем REC в светлой теме, показываем в тёмной */
:root.theme-dark .header__rec {
  display: flex;
}

:root.theme-light .header__rec {
  display: none;
}